## Import Data Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading and Viewing the dataset

In [2]:
df = pd.read_csv("C:/Users/Nantha/Documents/Glassdoor-Job-Salary-Prediction/GlassdoorUSA.csv")

In [3]:
df.shape #no.of rows,columns

(1000, 15)

In [4]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist / Machine Learning Expert,$96K-$101K (Glassdoor Est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1
1,1,Data Scientist,$96K-$101K (Glassdoor Est.),Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group\n4.0,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,₹10 to ₹50 billion (INR),-1
2,2,Data Scientist,$96K-$101K (Glassdoor Est.),Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED\n4.1,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific"
3,3,Data Scientist,$96K-$101K (Glassdoor Est.),New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina"
4,4,Data Scientist,$96K-$101K (Glassdoor Est.),STR is a government research contractor specia...,4.7,Systems & Technology Research\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1

## Types of features in dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
Unnamed: 0           1000 non-null int64
Job Title            1000 non-null object
Salary Estimate      1000 non-null object
Job Description      1000 non-null object
Rating               1000 non-null float64
Company Name         1000 non-null object
Location             1000 non-null object
Headquarters         1000 non-null object
Size                 1000 non-null object
Founded              1000 non-null int64
Type of ownership    1000 non-null object
Industry             1000 non-null object
Sector               1000 non-null object
Revenue              1000 non-null object
Competitors          1000 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 117.3+ KB

## Features which are to be cleaned/created
1. Salary Average
2. Company Name
3. Same State
3. Age Field
4. Parsing of Job Description

### 1. Salary Column Cleaning and average calculation

In [6]:
df['Salary Estimate'].unique()

array(['$96K-$101K (Glassdoor Est.)', '$97K-$137K (Glassdoor Est.)',
       '$101K-$133K (Glassdoor Est.)', '$89K-$147K (Glassdoor Est.)',
       '$94K-$116K (Glassdoor Est.)', '$92K-$132K (Glassdoor Est.)',
       '$58K-$99K (Glassdoor Est.)', '$212K-$332K (Glassdoor Est.)',
       '$117K-$150K (Glassdoor Est.)', '$86K-$143K (Glassdoor Est.)',
       '$125K-$156K (Glassdoor Est.)', '$111K-$153K (Glassdoor Est.)',
       '$141K-$225K (Glassdoor Est.)', '$110K-$145K (Glassdoor Est.)',
       '$200K-$250K(Employer Est.)', '$112K-$143K (Glassdoor Est.)',
       '$120K-$135K (Glassdoor Est.)', '$71K-$110K (Glassdoor Est.)',
       '$116K-$143K (Glassdoor Est.)', '$132K-$163K (Glassdoor Est.)',
       '$110K-$177K (Glassdoor Est.)', '$88K-$99K (Glassdoor Est.)',
       '$127K-$139K (Glassdoor Est.)', '$136K-$224K (Glassdoor Est.)',
       '$93K-$148K (Glassdoor Est.)', '$79K-$133K (Glassdoor Est.)',
       '$100K-$150K (Glassdoor Est.)', '$113K-$190K (Glassdoor Est.)',
       '$89K-$128K (Glassdoor Est.)', '$94K-$114K (Glassdoor Est.)',
       '$141K-$170K (Glassdoor Est.)', '$70K-$123K (Glassdoor Est.)',
       '$50K-$100K (Glassdoor Est.)', '$129K-$148K (Glassdoor Est.)',
       '$87K-$149K (Glassdoor Est.)'], dtype=object)

In [7]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [8]:
df['Salary Estimate'].head()

0    $96K-$101K
1    $96K-$101K
2    $96K-$101K
3    $96K-$101K
4    $96K-$101K
Name: Salary Estimate, dtype: object

In [9]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace("K","").replace("$",""))

In [10]:
df['Salary Estimate'].head()

0    96-101
1    96-101
2    96-101
3    96-101
4    96-101
Name: Salary Estimate, dtype: object

In [11]:
df['Min Salary'] =df['Salary Estimate'].apply(lambda x:int(x.split("-")[0]))

In [12]:
df['Max Salary'] = df['Salary Estimate'].apply(lambda x:int(x.split("-")[1]))

In [13]:
df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/2

### 2. Company Name & Job State cleaning

In [15]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split("\n")[0])

In [16]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary
0,0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1,96,101,98.5
1,1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,₹10 to ₹50 billion (INR),-1,96,101,98.5
2,2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific",96,101,98.5
3,3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",96,101,98.5
4,4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,96,101,98.5

In [17]:
df['Job State'] = df['Location'].apply(lambda x: x.split(',')[1])

In [18]:
df['Job State'].value_counts()

 CA    400
 NY    266
 MA    200
 WA    100
 NJ     30
 CT      4
Name: Job State, dtype: int64

We can see that most of the jobs are from California and least is from Connecticut

### 3. Creating Same State feature
If the job is available in the Headquaters State itself we will assign 1

In [19]:
df['Same State'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0,axis =1)

In [20]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary,Job State,Same State
0,0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1,96,101,98.5,MA,0
1,1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1
2,2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific",96,101,98.5,MA,1
3,3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",96,101,98.5,MA,1
4,4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1

### 4. Age of Company

In [21]:
df['Age'] = df['Founded'].apply(lambda x: x if x <1 else 2020-x)

In [22]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary,Job State,Same State,Age
0,0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1,96,101,98.5,MA,0,24
1,1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,Consulting,Business Services,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1,39
2,2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific",96,101,98.5,MA,1,39
3,3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",96,101,98.5,MA,1,46
4,4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,...,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1,10

### 5. Job Description Parsing
We will parse and find out the technical skills needed for the job like Python, R, SQL, Tableau, etc..

In [23]:
df['Python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [25]:
df['Python'].value_counts()

1    792
0    208
Name: Python, dtype: int64

In [49]:
df['R'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() or ",R" in x or "R," in x or ",R" in x or " R " in x in x.lower() else 0)

In [50]:
df['R'].value_counts()

0    645
1    355
Name: R, dtype: int64

In [28]:
df['AWS'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [29]:
df['AWS'].value_counts()

0    776
1    224
Name: AWS, dtype: int64

In [30]:
df['Excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [31]:
df['Excel'].value_counts()

0    621
1    379
Name: Excel, dtype: int64

In [32]:
df['Spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [33]:
df['Spark'].value_counts()

0    718
1    282
Name: Spark, dtype: int64

In [35]:
df['Tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)

In [36]:
df['Tableau'].value_counts()

0    840
1    160
Name: Tableau, dtype: int64

In [37]:
df['SQL'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)

In [38]:
df['SQL'].value_counts()

1    558
0    442
Name: SQL, dtype: int64

In [39]:
df['TensorFlow'] = df['Job Description'].apply(lambda x: 1 if 'tensorflow' in x.lower() else 0)

In [40]:
df['TensorFlow'].value_counts()

0    861
1    139
Name: TensorFlow, dtype: int64

In [41]:
df['PowerBI'] = df['Job Description'].apply(lambda x: 1 if 'powerbi' in x.lower() else 0)

In [42]:
df['PowerBI'].value_counts()#dropit

0    992
1      8
Name: PowerBI, dtype: int64

In [43]:
df['SaS'] = df['Job Description'].apply(lambda x: 1 if 'sas' in x.lower() else 0)

In [44]:
df['SaS'].value_counts()

0    888
1    112
Name: SaS, dtype: int64

In [45]:
df['Flask'] = df['Job Description'].apply(lambda x: 1 if 'flask' in x.lower() else 0)

In [46]:
df['Flask'].value_counts()

0    986
1     14
Name: Flask, dtype: int64

In [47]:
df['Hadoop'] = df['Job Description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)

In [48]:
df['Hadoop'].value_counts()

0    771
1    229
Name: Hadoop, dtype: int64

In [53]:
#statistics
df['Statistics']=df["Job Description"].apply(lambda x:1 if 'statistics' in x.lower() or 'statistical' in x.lower() else 0)

In [54]:
df['Statistics'].value_counts()

1    803
0    197
Name: Statistics, dtype: int64

We will drop the unmamed column and save it for EDA Analysis

In [55]:
df = df.drop("Unnamed: 0",axis = 1)

In [57]:
df.to_csv("Glassdoor_Salary_Cleaned.csv",index=False)

In [58]:
dfc = pd.read_csv("C:/Users/Nantha/Documents/Glassdoor-Job-Salary-Prediction/Glassdoor_Salary_Cleaned.csv")

In [59]:
dfc.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Excel,Spark,Tableau,SQL,TensorFlow,PowerBI,SaS,Flask,Hadoop,Statistics
0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,...,0,0,0,0,0,0,0,0,0,1
1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,...,1,0,0,0,0,0,0,1,0,1
2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,...,1,1,0,0,1,0,0,0,1,1
3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,...,1,0,0,0,0,0,0,0,0,0
4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,...,1,1,0,1,1,0,0,0,1,1

In [60]:
dfc.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Min Salary', 'Max Salary', 'Avg Salary', 'Job State', 'Same State',
       'Age', 'Python', 'R', 'AWS', 'Excel', 'Spark', 'Tableau', 'SQL',
       'TensorFlow', 'PowerBI', 'SaS', 'Flask', 'Hadoop', 'Statistics'],
      dtype='object')