In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
df = pd.read_csv("C:/Users/Nantha/Documents/Glassdoor-Job-Salary-Prediction/GlassdoorUSA.csv")

In [59]:
df.shape

(1000, 15)

In [60]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist / Machine Learning Expert,$96K-$101K (Glassdoor Est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1
1,1,Data Scientist,$96K-$101K (Glassdoor Est.),Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group\n4.0,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,₹10 to ₹50 billion (INR),-1
2,2,Data Scientist,$96K-$101K (Glassdoor Est.),Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED\n4.1,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific"
3,3,Data Scientist,$96K-$101K (Glassdoor Est.),New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina"
4,4,Data Scientist,$96K-$101K (Glassdoor Est.),STR is a government research contractor specia...,4.7,Systems & Technology Research\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
Unnamed: 0           1000 non-null int64
Job Title            1000 non-null object
Salary Estimate      1000 non-null object
Job Description      1000 non-null object
Rating               1000 non-null float64
Company Name         1000 non-null object
Location             1000 non-null object
Headquarters         1000 non-null object
Size                 1000 non-null object
Founded              1000 non-null int64
Type of ownership    1000 non-null object
Industry             1000 non-null object
Sector               1000 non-null object
Revenue              1000 non-null object
Competitors          1000 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 117.3+ KB

# Steps to do
1. Salary Average
2. Company Name
3. Same State
3. Age Field
4. Parsing of Job Description

## Salary Column Cleaning and average calculation

In [62]:
df['Salary Estimate'].unique()

array(['$96K-$101K (Glassdoor Est.)', '$97K-$137K (Glassdoor Est.)',
       '$101K-$133K (Glassdoor Est.)', '$89K-$147K (Glassdoor Est.)',
       '$94K-$116K (Glassdoor Est.)', '$92K-$132K (Glassdoor Est.)',
       '$58K-$99K (Glassdoor Est.)', '$212K-$332K (Glassdoor Est.)',
       '$117K-$150K (Glassdoor Est.)', '$86K-$143K (Glassdoor Est.)',
       '$125K-$156K (Glassdoor Est.)', '$111K-$153K (Glassdoor Est.)',
       '$141K-$225K (Glassdoor Est.)', '$110K-$145K (Glassdoor Est.)',
       '$200K-$250K(Employer Est.)', '$112K-$143K (Glassdoor Est.)',
       '$120K-$135K (Glassdoor Est.)', '$71K-$110K (Glassdoor Est.)',
       '$116K-$143K (Glassdoor Est.)', '$132K-$163K (Glassdoor Est.)',
       '$110K-$177K (Glassdoor Est.)', '$88K-$99K (Glassdoor Est.)',
       '$127K-$139K (Glassdoor Est.)', '$136K-$224K (Glassdoor Est.)',
       '$93K-$148K (Glassdoor Est.)', '$79K-$133K (Glassdoor Est.)',
       '$100K-$150K (Glassdoor Est.)', '$113K-$190K (Glassdoor Est.)',
       '$89K-$128K (Glassdoor Est.)', '$94K-$114K (Glassdoor Est.)',
       '$141K-$170K (Glassdoor Est.)', '$70K-$123K (Glassdoor Est.)',
       '$50K-$100K (Glassdoor Est.)', '$129K-$148K (Glassdoor Est.)',
       '$87K-$149K (Glassdoor Est.)'], dtype=object)

In [65]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [66]:
df['Salary Estimate'].head()

0    $96K-$101K
1    $96K-$101K
2    $96K-$101K
3    $96K-$101K
4    $96K-$101K
Name: Salary Estimate, dtype: object

In [67]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace("K","").replace("$",""))

In [68]:
df['Salary Estimate'].head()

0    96-101
1    96-101
2    96-101
3    96-101
4    96-101
Name: Salary Estimate, dtype: object

In [73]:
df['Min Salary'] =df['Salary Estimate'].apply(lambda x:int(x.split("-")[0]))

In [74]:
df['Max Salary'] = df['Salary Estimate'].apply(lambda x:int(x.split("-")[1]))

In [76]:
df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/2

In [77]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary
0,0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1,96,101,98.5
1,1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group\n4.0,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,₹10 to ₹50 billion (INR),-1,96,101,98.5
2,2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED\n4.1,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific",96,101,98.5
3,3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",96,101,98.5
4,4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,96,101,98.5

## Company Name Cleaning

In [86]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split("\n")[0])

In [87]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary
0,0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1,96,101,98.5
1,1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,₹10 to ₹50 billion (INR),-1,96,101,98.5
2,2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific",96,101,98.5
3,3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",96,101,98.5
4,4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,96,101,98.5

In [96]:
df['Job State'] = df['Location'].apply(lambda x: x.split(',')[1])

In [97]:
df['Job State'].value_counts()

 CA    400
 NY    266
 MA    200
 WA    100
 NJ     30
 CT      4
Name: Job State, dtype: int64

## Same State if Headquaters and Job Location are same 1

In [98]:
df['Same State'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0,axis =1)

In [99]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary,Job State,Same State
0,0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1,96,101,98.5,MA,0
1,1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1
2,2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific",96,101,98.5,MA,1
3,3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",96,101,98.5,MA,1
4,4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1

## Age of Company

In [100]:
df['Age'] = df['Founded'].apply(lambda x: x if x <1 else 2020-x)

In [101]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary,Job State,Same State,Age
0,0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1,96,101,98.5,MA,0,24
1,1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,Consulting,Business Services,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1,39
2,2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),"Covidien, Boston Scientific",96,101,98.5,MA,1,39
3,3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",96,101,98.5,MA,1,46
4,4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,...,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,96,101,98.5,MA,1,10

## Job Description Parsing

In [112]:
df['Python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [105]:
df['python'].value_counts()

1    792
0    208
Name: python, dtype: int64

In [109]:
df['R'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

In [110]:
df['R'].value_counts()

0    999
1      1
Name: R, dtype: int64

In [113]:
df['AWS'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [114]:
df['AWS'].value_counts()

0    776
1    224
Name: AWS, dtype: int64

In [116]:
df['Excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [118]:
df['Excel'].value_counts()

0    621
1    379
Name: Excel, dtype: int64

In [121]:
df = df.drop(['python','excel'],axis = 1)

In [122]:
df = df.drop("Unnamed: 0",axis = 1)

In [127]:
df.to_csv("Glassdoor_Salary_Cleanedwithindex")

In [124]:
df.to_csv("Glassdoor_Salary_Cleaned.csv",index=False)

In [125]:
dfc = pd.read_csv("C:/Users/Nantha/Documents/Glassdoor-Job-Salary-Prediction/Glassdoor_Salary_Cleaned.csv")

In [126]:
dfc.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Min Salary,Max Salary,Avg Salary,Job State,Same State,Age,R,Python,AWS,Excel
0,Data Scientist / Machine Learning Expert,96-101,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,...,96,101,98.5,MA,0,24,0,1,0,0
1,Data Scientist,96-101,Overview\n\n\nData Scientist\n\nLocations US-M...,4.0,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,...,96,101,98.5,MA,1,39,0,1,1,1
2,Data Scientist,96-101,Search by Keyword\nMore Options\n\nSearch by L...,4.1,ABIOMED,"Danvers, MA","Danvers, MA",1001 to 5000 employees,1981,Company - Public,...,96,101,98.5,MA,1,39,0,1,1,1
3,Data Scientist,96-101,New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,...,96,101,98.5,MA,1,46,0,1,0,1
4,Data Scientist,96-101,STR is a government research contractor specia...,4.7,Systems & Technology Research,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,...,96,101,98.5,MA,1,10,0,1,0,1